body {
    background-color: beige;
    color: black;
}

.loginContainer {
    border: solid burlywood 2px;
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 5px;
    gap: 2px;
}

#loginButton {
    margin:5px;
    width: 60px;
    height: 25px;
    background-color: burlywood;
}